<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .form-container {
      width: 25%;
      margin: 0 auto;
    }
    .error-message {
      color: red;
      font-size: 0.75em;
    }
    .form-group {
      position: relative;
    }
    .form-group .error-message {
      position: absolute;
      right: 0;
      top: 100%;
    }
  </style>
  <title>회원가입</title>
</head>
<body>
<div class="container">
  <h1 class="text-center">회원가입</h1>
  <form action="/register" th:action="@{/register}" th:object="${form}" method="post" class="form-container">
    <div class="form-group">
      <input type="text" name="userUid" placeholder="아이디" th:field="*{userUid}" class="form-control">
      <p th:if="${errors?.containsKey('userUid')}" th:text="${errors.get('userUid')}" class="error-message"></p>
    </div>

    <div class="form-group">
      <input type="password" name="userUpw" placeholder="비밀번호" th:field="*{userUpw}" class="form-control">
      <p th:if="${errors?.containsKey('userUpw')}" th:text="${errors.get('userUpw')}" class="error-message"></p>
    </div>

    <div class="form-group">
      <input type="text" name="userName" placeholder="이름" th:field="*{userName}" class="form-control">
      <p th:if="${errors?.containsKey('userName')}" th:text="${errors.get('userName')}" class="error-message"></p>
    </div>

    <div class="form-group">
      <input type="email" name="userEmail" placeholder="이메일" th:field="*{userEmail}" class="form-control">
      <p th:if="${errors?.containsKey('userEmail')}" th:text="${errors.get('userEmail')}" class="error-message"></p>
    </div>

    <div class="form-group">
      <input type="text" name="userPhone" placeholder="전화번호" th:field="*{userPhone}" class="form-control">
      <p th:if="${errors?.containsKey('userPhone')}" th:text="${errors.get('userPhone')}" class="error-message"></p>
    </div>

    <button type="submit" class="btn btn-primary">가입하기</button>
  </form>
</div>
</body>
</html>
